.container {
  margin: 0 auto;
  width: 75%;
  background-color: #D3D3D3;
  max-width: 700px;
  overflow: auto;
}
body {
  background-color: #9932CC;
}
img {
  max-width: 700px;
}
@media(min-width: 650px) {
  .left-column {
    float: left;
    width: 66%;
  }
  .right-column {
    float: right;
    width: 34%;
  }
  * {
    box-sizing: border-box;
  }
}
@media(max-width: 500px) {
  .left-column {
    float: none;
  }
  .right-column {
    float: none;
  }
}
a {
  color: black;
}
h3 {
  font-weight: normal;
  padding: 2px;
  font-family: Georgia;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
  font-family: Georgia;
}
h1 {
  font-family: Georgia;
}
.source {
  border-bottom: 5px;
  border-bottom: solid;
  border-bottom-color: #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
.button {
  padding: 10px;
  background: yellow;
  width: 15%;
}
